.recap {
  margin-top: 100px;
  width: 100%;
  height: 90vh;
  .recap__container {
    width: 100%;
    height: 100%;
    max-width: 1336px;
    margin: 0 auto;

    .recap__container-wrapper {
      width: 100%;
      height: 100%;
      border: 1px solid black;
    }
  }
}
