.header {
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 111;
  // background-color: rgb(18, 18, 18);

  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }
  .header__container {
    width: 100%;
    height: 100%;
    max-width: 1440px;

    margin: 0 auto;

    .header__container-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .active {
        font-family: "Kanit", serif;
        font-weight: 400;
        color: #efd912;
        font-size: 20px;
        font-weight: 500;
      }
      .menu {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu__link {
          font-family: "Kanit", serif;
          font-weight: 400;
          &:hover {
            color: #efd912;
            transition: all 0.8s ease-in-out;
          }
          .live_stream {
            font-family: "Kanit", serif;
            display: flex;
            width: 200px;
            height: 60px;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: white;
            border-radius: 36px;
            border-right: 1px solid #efd912;
            border-left: 4px solid #efd912;
            background: red; /* default color */
            background: linear-gradient(to left, #292929 50%, #efd912 50%) right;
            background-size: 200%;
            transition: 0.8s ease-out;

            &:hover {
              border-left: 3px solid #292929;
              background-position: left;
            }
          }
        }
      }

      .burger {
        display: none;
        cursor: pointer;
        div {
          width: 25px;
          height: 3px;
          background-color: #fff;
          margin: 5px;
          margin-right: 50px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    width: 100%;
  }
  .burger {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .burger {
    display: block;
  }
  .menu {
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 10vh;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
}

.menu_active {
  transform: translateX(0%);
}
