.header {
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 111;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }
  .header__container {
    width: 100%;
    height: 100%;
    max-width: 1440px;

    margin: 0 auto;

    .header__container-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .active {
        font-family: "Kanit", serif;
        font-weight: 400;
        color: #efd912;
        font-size: 20px;
        font-weight: 500;
      }
      .menu {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu__link {
          font-family: "Kanit", serif;
          font-weight: 400;
          &:hover {
            color: #efd912;
            transition: all 0.8s ease-in-out;
          }
          .live_stream {
            font-family: "Kanit", serif;
            display: flex;
            width: 200px;
            height: 60px;
            text-align: center;
            align-items: center;
            justify-content: center;
            color: white;
            border-radius: 36px;
            border-right: 1px solid #efd912;
            border-left: 4px solid #efd912;
            background: red; /* default color */
            background: linear-gradient(to left, #292929 50%, #efd912 50%) right;
            background-size: 200%;
            transition: 0.8s ease-out;

            &:hover {
              border-left: 3px solid #292929;
              background-position: left;
            }
          }
        }
      }
    }
  }
}
